.pageCustomers {
  height: 100%;
  padding: 10px;
}

.multimedia-customer {
  margin-top: 5px;
  margin-bottom: 5px;
}

.container {
  background-color: white;
  border-radius: 10px;
  height: inherit;
  padding: 15px;
  overflow: hidden;
}
.tableCustomers {
  overflow: scroll;
}

table {
  width: 100%;
  font-size: 20px;
  margin-top: 15px;
  border-collapse: inherit;
}
th,
td {
  padding: 10px;
  min-width: 200px;
  text-align: left;
  vertical-align: bottom;
  border: 2px solid;
  border-color: map-get($background, "primary");
}

@include media-up-mobile(sm) {
  .listCustomers {
    display: none;
  }
  .customersDevice {
    display: block;
  }
}

@include media-up(sm) {
  .customersDevice {
    display: none;
  }
  .listCustomers {
    height: 100%;
  }
}
