.pageCustomers {
  padding: 10px;
}

.container {
  background-color: white;
  border-radius: 10px;
  height: inherit;
  padding: 15px;
  overflow: hidden;
}

table {
  width: 100%;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-collapse: inherit;
}
th,
td {
  padding: 10px;
  min-width: 200px;
  text-align: left;
  vertical-align: bottom;
  border: 2px solid;
  border-color: map-get($background, "primary");
}

.id-table {
  text-align: center;
  min-width: 50px !important;
}
.tool-table {
  text-align: center;
  min-width: 100px !important;
  position: -webkit-sticky;
  position: sticky;
  right: 0px;
  background: white;
  box-shadow: -7px 1px 18px -7px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: -7px 1px 18px -7px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: -7px 1px 18px -7px rgba(0, 0, 0, 0.53);
}

.title {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 8px;
}

@include media-up-mobile(sm) {
  .title-name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
  }
  .listCustomers {
    display: none;
  }
  .customersDevice {
    display: block;
    padding: 10px;
  }
}

@include media-up(sm) {
  .customersDevice {
    display: none;
  }
  .listCustomers {
    height: 100%;
  }
  .tableCustomers {
    overflow: scroll;
  }
}
