/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}
#root {
  // height: 100vh;
}

div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: revert;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
  min-height: 100%;
  margin: 0px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}
menu {
  padding: 0px;
}

img {
  padding: 20px;
}

.header {
  grid-area: header;
  background-color: map-get($background, "primary");
}

.navbar {
  grid-area: navbar;
  background-color: map-get($background, "secondary");
}

.main {
  padding: 30px;
  overflow: hidden;
  grid-area: main;
  background-color: map-get($background, "primary");
}

.footer {
  grid-area: footer;
  background-color: map-get($background, "primary");
}
.input {
  color: map-get($colorText, "white");
  border-radius: 5px;
  height: 46px;
  font-size: 16px;
}

.display-between {
  display: flex;
  justify-content: space-between;
}
.display-align-center {
  display: flex;
  align-items: center;
}

.display-justify-center {
  display: flex;
  justify-content: center;
}
.display-bottom {
  align-items: flex-end;
}

@include media-up-mobile(sm) {
  .grid-container {
    display: grid;

    grid-template-areas:
      "header"
      "navbar"
      "main"
      "footer";
    .Nav {
      display: none;
    }
    .NavDevice {
      display: block;
    }
    overflow: hidden;

    height: 100dvh;
    width: 100vw;
  }

  .toolSearchMobile {
    background-color: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    margin-top: 15px;
  }
  .isVisibleToolSearchDesktop {
    display: none;
  }

  .mobile-menu-open {
    grid-template-rows: 0px 400px auto 0px;
    transition: 0.3s ease-in-out;
  }
  .mobile-menu-close {
    grid-template-rows: 0px 80px auto 0px;
    transition: 0.3s ease-in-out;
  }
  .main {
    padding: 0px;
    overflow-y: scroll;
    grid-area: main;
    background-color: map-get($background, "primary");
  }
}

@include media-up(sm) {
  .grid-container {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 50px auto 50px;
    grid-template-areas:
      "navbar header header"
      "navbar main main"
      "navbar footer footer";
    height: 100vh;
  }
  .Nav {
    display: block;
  }
  .NavDevice {
    display: none;
  }
  .main {
    padding: 30px;
    overflow: hidden;
    grid-area: main;
    background-color: map-get($background, "primary");
  }
  .isVisibleToolSearchMobile {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
