/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}
#root {
  height: 100vh;
}

div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
  min-height: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.header {
  grid-area: header;
  background-color: red;
}

.navbar {
  grid-area: navbar;
  background-color: green;
}

.main {
  grid-area: main;
  background-color: pink;
}

.footer {
  grid-area: footer;
  background-color: blue;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-rows: 100px 100px auto 100px;
  grid-template-areas:
    "header"
    "navbar"
    "main"
    "footer";
  height: 100vh;
}

@include media-up(md) {
  .grid-container {
    grid-template-columns: 200px auto;
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
      "header header"
      "navbar main"
      "footer footer";
    height: 100vh;
  }
}
