/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}
#root {
  height: 100vh;
}

div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
  min-height: 100%;
  margin: 0px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}
menu {
  padding: 0px;
}

img {
  padding: 20px;
}

.header {
  grid-area: header;
  background-color: map-get($background, "primary");
}

.navbar {
  grid-area: navbar;
  background-color: map-get($background, "secondary");
}

.main {
  grid-area: main;
  background-color: map-get($background, "primary");
}

.footer {
  grid-area: footer;
  background-color: map-get($background, "primary");
}
@include media-up-mobile(sm) {
  .grid-container {
    display: grid;
    grid-template-rows: 50px 400px auto 50px;
    grid-template-areas:
      "header"
      "navbar"
      "main"
      "footer";
    height: 100vh;
    .Nav {
      display: none;
    }
    .NavDevice {
      display: block;
    }
  }

  .mobile-menu-open {
    grid-template-rows: 50px 400px auto 50px;
  }
  .mobile-menu-close {
    grid-template-rows: 50px 100px auto 50px;
  }
}

@include media-up(sm) {
  .grid-container {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 50px auto 50px;
    grid-template-areas:
      "navbar header header"
      "navbar main main"
      "navbar footer footer";
    height: 100vh;
  }
  .Nav {
    display: block;
  }
  .NavDevice {
    display: none;
  }
}
