.pagination {
  margin-top: 10px;
  align-items: center;
}

.button-pagination {
  width: 40px;
  height: 40px;
  background: white;
  border: none;
  border-radius: 10px;
}

.border-button {
  border: 3px solid;
  border-color: map-get($border, "cream");
  border-radius: 10px;
  margin: 7px;
}

@include media-up-mobile(sm) {
  .pagination {
    display: none;
  }
}
