.search-container {
  width: 80%;
  border: 3px solid #f1eeee;
}
.search {
  font-size: 16px;
  width: 96%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10px;
}
.icon-search {
  margin-right: 20px;
  color: black;
}
