.multimedia-customer {
  margin-top: 5px;
  margin-bottom: 5px;
}

.search {
  font-size: 16px;
  width: 96%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10px;
}
.icon-search {
  margin-right: 20px;
  color: black;
}

.displaySearch {
  display: none;
}

@include media-up(sm) {
  .search-container {
    width: 80%;
    border: 3px solid #f1eeee;
  }
  .icon-search-device {
    display: none;
  }
}

@include media-up-mobile(sm) {
  .column-customer {
    flex-direction: column;
  }
  .width-element {
    width: 100%;
  }
  .search-container {
    width: 100%;
    border: 3px solid #f1eeee;
    margin-top: 15px;
  }
  .icon-search-device {
    background: map-get($colorComponents, "primary");
    color: map-get($colorText, "white");
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 51%;
    margin: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
