// Im gone to define some colors, create variables

/***********************/
//colors variables
/***********************/

$background: (
  "primary": #f4f4f7,
  "secondary": #ffffff,
);

$colorComponents: (
  "primary": #4542d3,
);

$colorText: (
  "primary": #1c1c1c,
  "secondary": #0094d5,
  "tertiary": #8f8f8f,
  "white": #ffffff,
);

$border: (
  "cream": #f4f4f7,
);

$colorIcons: (
  "primary": "#1C1C1C",
);
